/*==============================================================================
RESET
==============================================================================*/
@import '../stylereset/reset.styl'

/*==============================================================================
Global Styles
==============================================================================*/
@import '../globalstyles/styles.styl'

/*==============================================================================
Including other components
==============================================================================*/
@import '../allmodules/allstyles.styl'

h1
    display block
    padding 20px
    margin 40px auto

p
    display block
    padding 20px
    box-sizing: border-box
    max-width 500px
    margin 40px auto


