doctype html
html(lang="de")
    head
        meta(charset='utf-8')
        
        //- Title and Description
        title Illumin.eth Dashboard
        meta(name='description', content='Das Gemeinschafts Dashboard von Illumin.eth - Willkommen!')
        
        //- Open Graph meta Tags
        meta(property='og:image' content="https://illumineth.xyz/favicon.svg")
        meta(property='og:title' content="Illumin.eth Dashboard")
        meta(property='og:description' content='Das Gemeinschafts Dashboard von Illumin.eth - Willkommen!')
        meta(property='og:type' content="website")
        meta(property='og:url' content="https://illumineth.xyz")
        meta(property='og:locale' content="de_DE")

        //- Manifest
        link(rel='manifest' href='manifest.json')

        //- Favicon
        link(rel="icon" type="image/svg+xml" href="/favicon.svg")
        link(rel="shortcut icon" href="/favicon.ico")
        link(rel="icon" type="image/png" sizes="96x96", href="favicon-96x96.png")
        link(rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png")

        meta(name="theme-color", content="#ffffff")
        
        //- Apple PWA
        meta(name="apple-mobile-web-app-title" content=pageTitle)
        meta(name="mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="#fff")

        //- Screen
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        include styles-include.pug
    body
        include ../../source/index/indexbody.pug
        include scripts-include.pug
